html, body {
  margin: 20
    ;
  padding: 0;
  background-color: aqua;
  body {
    font-family: Arial, sans-serif;
    /* Estilos generales */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline;
    margin-right: 10px;
    cursor: pointer;
}

/* Estilos para la página de inicio */
#contenido.inicio {
    background-color: lightgray;
    color: blue;
}

/* Estilos para las otras páginas */
#contenido.pagina {
    background-color: white;
    color: black;
}
